/* Använd Bellefair som kroppstext */
body {
    font-family: 'Bellefair', serif; 
    background-color: #b2b6b9;
    color: #0056b3;
    margin: 0;
    padding: 0;
}

/* Definiera typsnittet för Love Light */
@font-face {
    font-family: 'Love Light';
    src: url('fonts/Love_Light/LoveLight-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

/* Definiera typsnittet för Bellefair */
@font-face {
    font-family: 'Bellefair';
    src: url('fonts/Bellefair/Bellefair-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Rubriker använder Roboto */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #0056b3;
}

/* Betoningselement använder Love Light */
em, strong {
    font-family: 'Love Light', cursive; 
    font-style: italic; 
}


h1 {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/* Standard paragrafstilar använder Roboto */
p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}


/* Navigationsmeny */
.navbar {
    background-color: #065db4;
}

.navbar-brand, .nav-link {
    color: #0056b3;
    font-size: 1.6rem;
    margin-right: 10px;
}

.nav-link:hover {
    color:  rgb(203, 25, 96);
    transition: color 0.3s;
}

.navbar-toggler {
    border-color: rgb(215, 212, 222);
}

/* Huvudinnehåll */
.container {
    background-color: rgb(235, 242, 244);
    padding: 30px;
    box-shadow: 0 0 15px rgba(96, 10, 226, 0.1);
    margin-top: 20px;
    border-radius: 20px;
}

/* Kontaktformulär klart */
form {
    max-width: 600px;
    margin: 0 auto;
}

.form-label {
    font-weight: 500;
    color: rgb(8, 13, 10);
}

.form-control {
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(86, 21, 226, 0.1);
    transition: box-shadow 0.3s ease;
}

.form-control:focus {
    box-shadow: 0px 4px 12px rgba(202, 19, 126, 0.5);
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    padding: 10px 20px;
    font-size: 1.0rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #db217e;
}


/* Galleri Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Auto-fit layout */
    gap: 20px;
}

.gallery-item {
    margin-bottom: 10px;
}

.gallery-item img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Stora bilder */
.big-image {
    height: 500px; 
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

.gallery-image {
    height: 250px; 
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);     
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}/* Footer Grid */
footer {
    background-color: #232526;
    padding: 70px 30px 20px;
    display: grid;
    grid-template-columns: 1fr;
}
.socialIcons {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #e2e9f0;
    margin: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center; 
}

.socialIcons a i {
    font-size: 2em;
    color: blue;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #d1d1d1;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #fff;
    transition: 0.5s;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 5px 5px;
   
}
/* Media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
       
    }

    .big-image {
        height: 300px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.8rem;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }
}




